#palavra-central {
    color: rgb(0, 0, 0);
    text-align: center;
}
#palavra-pequena {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: large;
    margin-left: 10px;
    margin-right: 10px;
}
.aero-glass h2, .aero-glass h3 , .aero-glass td, .aero-glass th, .aero-glass p, .aero-glass h1 {
  position: relative;
  z-index: 2;
}
.aero-glass h2, .aero-glass td, .aero-glass th, .aero-glass p, .aero-glass h1 {
  font-weight: 600;
  font-size: 1rem;
  color: #000000;
  text-shadow:
    0 1px 6px rgba(80,120,200,0.25),
    0 1px 0 #918e8e;
  letter-spacing: 1px;
  margin: 0;
}
.aero-glass h3 {
  font-weight: 600;
  font-size: 1rem;
  color: #000000;
  text-shadow:
    0 1px 6px rgba(80,120,200,0.25),
    0 1px 0 #918e8e;
  letter-spacing: 1px;
  margin: 10px;
}
#titulogrande {
  font-weight: 600;
  font-size: 1.5rem;
  color: #000000;
  text-shadow:
    0 1px 6px rgba(80,120,200,0.25),
    0 1px 0 #fff;
  letter-spacing: 1px;
  margin: 10px;
}
.aero-glass th {
  font-weight: 600;
  font-size: 1rem;
  color: #000000;
  text-shadow:
    0 1px 6px rgba(80,120,200,0.25),
    0 1px 0 #918e8e;
  letter-spacing: 1px;
  margin-top: 10px;
}