.colunia1 {
    height: 15%;
    width: 100%;
}
.colunia2 {
    height: 70%;
    width: 100%;
}
.colunia3 {
    height: 15%;
    width: 100%;
}
.colunia2_1 {
    height: 15%;
    width: 100%;
}
.colunia2_2 {
    height: 85%;
    width: 100%;
}
.colunia2 table {
    width: 100%;
    height: 100%;
}
.colunia2 th, .colunia2 td, .colunia2 tr {
    border: none;
    padding: 5px;
    height: 49px;
    font-size: 17px;
}
.colunia3 button {
    margin: 14px;
    margin-left: 155px;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
}
.colunia2_2 table{
    width: 100%;
    height: 60%;
}
.colunia2_2 th, .colunia2_2 td, .colunia2_2 tr {
    border: none;
    padding: 5px;
    height: 48px;
    font-size: 17px;
}